<html>
  <head>
    <title>upload</title>
    <link rel="stylesheet" href="styling/file.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <h1 class="h-primary">Job Search and Posting Portal</h1>
      </div>
    </nav>

    <!-- button main -->
    <section class="fileUpload">
      <form action="/predict" method="post" enctype="multipart/form-data">
        <div class="container">
          <label for="Upload Job Advertisement">Upload Job Advertisement:</label>
          <input class="upload-box" type="file" name="file" placeholder = "Upload Job Advertisement"multiple/>
        </div>
          <div class="container">
            <label for="Upload Resume">Upload Resume:</label>
            <input class="upload-box" type="file" name="file2" placeholder="Upload Resume" />
          </div>

        <div class="upload-button">
          <input class="upload" type="submit" value="Upload" />
        </div>
      </form>
    </section>
    <pre>{{prediction_text}}</pre>
    <pre>{{jobs_text}}</pre>
    <pre>{{salary_re}}</pre>
    <pre>{{nop}}</pre>
    <pre>{{match}}</pre>
    <pre>{{rs}}</pre>
  </body>
</html>