<html>
  <head>
    <title>upload</title>
    <link rel="stylesheet" href="styling/file.css" />
    <link
      rel="stylesheet"
      href="https://light-ui-library.netlify.app/import.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <h1 class="h-primary">JOBS SEARCH AND POST PORTAL</h1>
      </div>
    </nav>

    <!-- button main -->
    <section class="fileUpload">
      <form action="/predict" method="post" enctype="multipart/form-data">
        <div class="container">
          <input class="upload-box" type="file" name="file" multiple />
        </div>
        <div class="container">
          <input class="upload-box" type="file" name="file2" />
        </div>

        <div class="upload-button">
          <input class="upload" type="submit" value="Upload" />
        </div>
      </form>
    </section>
    <pre>{{prediction_text}}</pre>
    <pre>{{jobs_text}}</pre>
    <pre>{{salary_re}}</pre>
    <pre>{{nop}}</pre>
    <pre>{{match}}</pre>
    <pre>{{rs}}</pre>
  </body>
</html>
